<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trackmaster">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackMaster">  <!-- 테마 설정 -->

        <!-- MainActivity가 앱의 시작점 -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ResultActivity 등록 -->
        <activity android:name=".ResultActivity" />

        <!-- NearbySearchActivity 등록 -->
        <activity android:name=".NearbySearchActivity" />

        <!-- NearbyResultActivity 등록 -->
        <activity android:name=".NearbyResultActivity" />

    </application>

</manifest>
